<main class="form-signin w-100 m-auto">
    <form>
        <h1 class="h3 mb-3 fw-normal">Registro</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingName" placeholder="Nombre">
            <label for="floatingName">Nombre</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingSurname" placeholder="Apellido">
            <label for="floatingSurname">Apellido</label>
        </div>
        <div class="form-floating">
            <input [(ngModel)]="email" name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input [(ngModel)]="clave" name="clave" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit" (click)="registro()">Registrarse</button>
        <button class="btn btn-primary w-100 py-2" routerLink="/login">Iniciar Sesión</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
    </form>
</main>