<div class="contenedor">
    <div class="espaciado"></div>
    <img class="yo" src="yo.jpeg" alt="">
    
    <div class="sobreMi">
        <h1>Daniela Nuñez</h1>
        <div class="datos">
            <h5>Nombre Completo: Daniela Nahir Nuñez Ocampos</h5>
            <h5>Edad: 19</h5>
            <h5>GitHub: <a href="https://github.com/DanielaNahir">DanielaNahir</a></h5>
        </div>
        <h6>Sobre mí: <br><br>
            Mi nombre es Daniela Nuñez y soy estudiante de programación en la Universidad Tecnológica Nacional. Aquí podran encontrar la pagina web desarrollada para presentar en el
            Primer Trabajo Practico de la materia 
            Laboratorio de Computación IV.</h6>
    </div>
    <div>_________________________________________________________</div>
    <div class="juego-propio">
        <h2 class="titulo">JUEGO SNAKE <img src="assets/logoSnake.png" alt=""></h2>
        <p class="parrafo">El juego elegido para desarrollar fue <i>Snake</i> consiste en controlar una "serpiente" que se mueve por la pantalla, comiéndose alimentos que
            aparecen de manera aleatoria. Cada vez que la serpiente come, su cuerpo crece. El objetivo es evitar chocar 
            contra las paredes o contra el propio cuerpo de la serpiente mientras se intenta comer la mayor cantidad posible de 
            alimentos. El juego termina cuando la serpiente se golpea a sí misma o con el borde de la pantalla.
        </p>
    </div>
    
</div>
