<div class="contenedor">
    <div class="imagen_ahorcado">
        @if(primerError == true){
            <img class="error1" src="assets/ahorcado/1.png" alt="">
        }
        @if(cantErrores > 1){
            <img class="error{{cantErrores}}" src="assets/ahorcado/{{cantErrores}}.png" alt="">
        }
    </div>

    <div class="letras">
        <div><strong>
            @for (letra of palabra.split(''); track $index) {
                @if (letrasDescubiertas.includes(letra)) {
                    {{letra.toUpperCase()}}
                }
                @else {
                    _
                }
            }
        </strong></div>
        
    </div>
    <div class="teclado">
        @for (item of teclas; track $index) {
            <button [disabled]="teclasUsadas.includes(item)" (click)="clickTeclas(item)">
                <strong>{{item}}</strong>
            </button>
        }
    </div>
    <div class="boton-salir">
        <button (click)="terminarJuego()">
            <img src="atras.png">
        </button>
    </div>

    <div class="puntos">
        <h2>Puntos: {{record}}</h2>
    </div>
</div>

