<div class="contenedor">
    
<div class="espacio">

</div>

<div class="chat-container">
    <div class="msj-container" id="msgContainer"> 
        @for (mensaje of mensajes; track $index) {
            <div [ngClass]="{ 'mensaje-propio': mensaje.email == authService.usuario.email ,
                'mensaje' : mensaje.email != authService.usuario.email}">
                <h2>{{mensaje.usuario}} ~</h2>
                <p>{{mensaje.texto}}</p>
                <h4>{{mensaje.fecha}}</h4>
            </div>
        }
    </div>
    
    <div class="form-floating">
        <input [(ngModel)]="msjNuevo" name="mensaje" type="text" class="form-control" id="floatingSurname" placeholder="Apellido">
        <label for="floatingSurname">mensaje</label>
        <button (click)="enviarMensaje()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5"/>
            </svg>
        </button>
    </div>
    
</div>
</div>




