header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e2c40;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 150px;
}

.logo {
  margin: 0.5rem;
}

button {
  margin: 0 20px;
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
}
