@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    align-items: center;
}

.logo img{
    width: 150px;
    height: 150px;
}


.botones{
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -190%);
    width: 70%;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 2rem;
}

button{
    color:aliceblue;
    background-color:burlywood;
    border-color: transparent;
    font-family: "Archivo black";
    font-size: 2rem;
    border-radius: 10px;
}

.botones img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.chat-button {
    position: fixed; /* Mantiene el botón fijo */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    z-index: 10; /* Asegúrate de que esté encima de otros elementos */
}

.chat-button button{
    background-color: brown;
}