<div class="logo">
    <img src="assets/klipartz.com.png" alt="">
</div>

<div class="botones">
    <button id="ahorcado" routerLink="/games/ahorcado">
        <img src="assets/ahorcado.png" alt="">
        <p>AHORCADOS</p>
    </button>
    <button id="juego-propio" routerLink="/games/snake">
        <img src="assets/logoSnake.png" alt="">
        <p>SNAKE</p>
    </button>
    <button id="mayor-menor" routerLink="/games/mayor-menor">
        <img src="assets/mayor-menor.png" alt="">
        <p>MAYOR MENOR</p>
    </button>
    <button routerLink="/games/preguntados">
        <img src="assets/preguntados.png" alt="">
        <p>PREGUNTADOS</p>
    </button>
</div>

<div class="chat-button">
    @if (user) {
        <button routerLink="/chat">CHAT</button>
    }
</div>